* {
  margin: 0;
  padding: 0;
}

:root{
  --color: #fff;
}

body {
  /* height: 100vh;
  width: 100vw; */
  color: var(--color);
  font-family: sans-serif;
  background-image: linear-gradient(to right, blue, rgb(8, 140, 184), blue);
}

.color{
  color: var(--color);
}

.links:hover{
text-decoration: none;
}

.form_box {
  border: 2px solid var(--color);
  border-radius: 6px;
  padding: 20px;
  width: 30%;
  margin: auto;
  margin-top: 40px;
  box-shadow: 2px 2px 10px black;
}

.form_box h1 {
  margin: 10px;
  margin-top: 30px;
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: underline;
}

.form_box form {
  margin-top: 30px;
}

.form_box form input{
  margin: 10px 50px;
  padding: 10px;
  width: 70%;
  font-size: large;
  border: 2px solid var(--color);
  background: none;
  border-radius: 6px;
  /* color: var(--color); */
}
.form_box form input:focus {
  color: black;
  outline: none;
  border: 2px solid black;
  transition: 0.5s;
}

.form_box .input_box {
  position: relative;
}

.form_box .input_box label {
  position: absolute;
  left: 65px;
  top: 25px;
  z-index: -1;
  cursor: text;
}
.form_box .input_box input:focus ~ label
,.form_box .input_box input:not(:placeholder-shown) ~ label
{
  position: absolute;
  top: 2px;
  z-index: 1;
  font-size: 14px;
  padding: 0 5px;  
  color: black;
  background-color: var(--color);
  border-radius: 2px;
  transition: 0.5s;
}

/* .form_box form input[type=number]::-webkit-inner-spin-button, 
.form_box form input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
} */

.form_box .input_box input[type="submit"] {
  margin-left: 64px;
  margin-top: 25px;
  cursor: pointer;
  color: var(--color);
  box-shadow: 2px 2px 10px black;
}
.form_box .input_box input[type="submit"]:hover {
  box-shadow: none;
  transition: 0.5s;
}

.account {
  text-align: center;
  margin-top: 15px;
}

.forget{
  text-align: right;
  margin: 5px 80px;
}

.footer_detail {
  text-align: center;
  position: absolute;
  bottom: 15px;
  right: 0;
  left: 0;
}

.error{
  color: red;
  font-size: 14px;
  font-weight: bold;
  margin-left: 60px;
}

@media screen and (min-width:600px) and (max-width:1000px) {
  .form_box{
    width: 50%;
    /* margin: auto; */
    /* margin-top: 50px; */
  }
  .form_box form input{
    margin-left: 50px;
  }
  .form_box .input_box input[type="submit"] {
    margin-left: 60px;
  }
}

@media screen and (max-width:599px) {
  .form_box{
    width: 80%;
    /* margin: auto; */
    margin-top: 20px;
  }
  .form_box h1 {
    font-size: 28px;
  }
.form_box form input{
  margin-left: 35px;
}
.form_box .input_box input[type="submit"] {
  margin-left: 46px;
}
.form_box .input_box label {
  position: absolute;
  left: 55px;
  top: 25px;
}
.forget{
  margin: 5px 40px;
}
.error{
  margin-left: 45px;
}
}
